html, body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        'header header'
        'main aside'
        'footer footer';
    min-height: 100vh;
    background-color: whitesmoke;
}

header {
    grid-area: header;
    background-color: rgb(148, 148, 226);
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: sticky;
}

.nav-container {
    background-color: rgb(30, 47, 78);
    position: sticky;
}

main {
    grid-area: main;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.aside {
    grid-area: aside;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

footer {
    grid-area: footer;
    background-color: rgb(226, 180, 180);
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color: white;
}

/* images */

.about img {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-right: 30px;
}

.country-container img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

/* about me */

.about-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 88, 146);
    border-radius: 20px 20px 0px 0px;
    height: 40px;
}

.about-header p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.about {
    display: flex;
    margin: 20px;
}

.about p {
    margin: 30px 30px 10px 20px;
}

.country-container {
    margin: 20px 220px 20px 20px;
}

.country-header {
    justify-items: center;;
}

.country-description {
    display: flex;
    flex-direction: row-reverse;
}

.country-flag {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
}

/* Web Dev Resources */

.aside-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 88, 146);
    border-radius: 20px 20px 0px 0px;
    height: 40px;
}

.aside-header p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.resources-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.resources {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}

