html, body {
    max-height: 100vh;
    margin: 0;
}

:root {
    --heading-font: 'Turret Road';
    --title-font: 'Red Hat text';
    --body-font: 'Spectral';
    --primary-color: rgb(30, 47, 78);
    --secondary-color: rgb(88, 88, 146);
    --accent1-color: rgb(148, 148, 226);
    --accent2-color: rgb(226, 180, 180);
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 3fr 1.5fr;
    grid-template-areas: 
        'header header'
        'main aside'
        'footer footer';
    max-height: 100vh;
    background-color: whitesmoke;
}

header {
    grid-area: header;
    background-color: var(--accent1-color);
    font-family: var(--heading-font);
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 30px;
}

.nav-container {
    background-color: var(--primary-color);
    align-content: center;
}

main {
    grid-area: main;
    background-color: white;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 900px;
    max-height: fit-content;
}

.aside {
    grid-area: aside;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 900px;
}

footer {
    grid-area: footer;
    background-color: var(--accent2-color);
    text-align: center;
    margin-top: 30px;
}

footer p {
    font-family: var(--body-font);
    font-size: 20px;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.navigation li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation li a:hover {
    background-color: rgb(88, 88, 146);
}

/* images */

.about img {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    margin-right: 30px;
}

.country-container img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

/* about me */

.about-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 20px 20px 0px 0px;
    height: 60px;
}

.about-header p {
    margin: 0;
    font-size: 30px;
    font-family: var(--title-font);
    font-weight: bold;
    color: white;
}

.about {
    display: flex;
    margin: 20px;
}

.about p {
    margin: 30px 30px 10px 20px;
    font-size: 25px;
    font-family: var(--body-font);
}

.country-container {
    margin: 20px 220px 20px 20px;
}

.country-header {
    justify-items: center;
    border-bottom: 3px solid rgb(88, 88, 146);
    margin-bottom: 25px;
}

.country-header h1 {
    font-size: 30px;
    font-family: var(--title-font);
}

.country-description {
    display: flex;
    flex-direction: row-reverse;
}

.country-description p {
    font-size: 25px;
    margin-top: 0;
    font-family: var(--body-font);
}

.country-flag {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
}

.country-flag p {
    font-size: 18px;
    padding: 10px;
    font-family: var(--body-font);
}

/* Web Dev Resources */

.aside-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 88, 146);
    border-radius: 20px 20px 0px 0px;
    height: 60px;
}

.aside-header p {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: var(--title-font);
}

.resources {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 88%;
    justify-content: center;
}

.resources a {
    font-size: 25px;
    font-family: var(--body-font);
}
