:root {
    --clr-light: #e7e5e4;
    --clr-dark: #030712;
    --clr-main: #0f172a;
    --clr-rose600: #e11d48;
    --clr-rose700: #be123c;
    --clr-rose900: #881337;
    --clr-indigo: #4338ca;
    --clr-stone: #e7e5e4;
    --clr-stone-transparent: rgba(231, 229, 228, 0.8);

    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Funnel Display', sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

main {
    background-color: var(--clr-main);
    padding: 1rem;
}

img {
    display: block;
    max-width: 100%;
    user-select: none;
}

a {
    color: var(--clr-rose600);
}

strong {
    color: var(--clr-indigo);
}

h2 {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

@media (min-width: 768px) {
    main {
        background-color: transparent;
        padding: 0;
    }

    body {
        background-color: var(--clr-main);
    }
}